<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>PhotoBomB Login</title>
		
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
		
		<link rel="stylesheet" href="/css/demo.css" />
		<link rel="stylesheet" href="/css/sky-forms.css" />
		
	</head>
	<body class="bg-cyan">
		<div class="body body-s">
		<p class="tooltip state-error" th:if="${loginError}">
			<p th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Test</p> 
		</p>
			<form th:action="@{/login}" class="sky-form" method="post" th:object="${clicker}">
				<header><b>Sign in</b></header>
				<fieldset>					
					<section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" placeholder="Username"  th:name="username" />
							<b class="tooltip tooltip-bottom-right">Provide your username</b>
						</label>
					</section>	
					<section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="password" placeholder="Password"  th:name="password"/>
							<b class="tooltip tooltip-bottom-right">Provide the password</b>						
						</label>
					</section>						
				</fieldset>
				<footer>
					<button type="submit" class="button" value="Sign In">Submit</button>
				</footer>
			</form>
			
		</div>
	</body>
</html>