<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Photographer Signup')"/>

<body>
<nav th:replace="fragments/header ::navigation"></nav>
	<form th:action="@{/saveclicker}" method="post" th:object="${clicker}">
	
	 <label for="fname" > First Name :  </label>	
	 <input name="firstName" th:field="${clicker.firstName}" type="text"
			required="required" id="fname"/>
	
	 <label for="lname" > Last Name :  </label>
	 <input
			name="lastName" th:field="${clicker.lastName}" type="text"
			 required="required" id="lname"/>
	 
	 <label for="email" > Email :  </label>
	 <input
			name="email" th:field="${clicker.email}" 
			 type="email" id="email"/> 
			
		<input
			type="submit" value="submit"/>
	</form>

<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>