<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />
<title>Photographer Signup</title>
</head>
<body>
	
	<form th:action="@{/saveclicker}" method="post" th:object="${clicker}">

	 <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
		<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
			is incorrect</li>
	</ul>
	
	 <label for="fname" > First Name :  </label>	
	 <input name="firstName" th:field="${clicker.firstName}" type="text"
			th:placeholder="${fnPh}" required="required" id="fname"/>
	
	 <label for="lname" > Last Name :  </label>
	 <input
			name="lastName" th:field="${clicker.lastName}" type="text"
			th:placeholder="${lnPh}" required="required" id="lname"/>
	 
	 <label for="email" > Email :  </label>
	 <input
			name="email" th:field="${clicker.email}" 
			th:placeholder="${emailPh}" type="email" id="email"/> 
			
		<input
			type="submit" value="submit"/>
	</form>


</body>
</html>